@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono;
  color: white;
  background: #1a1a1a;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: Roboto Mono;
  color: white;
}

.logo {
  font-family: Montserrat;
  font-size: 24px;
}

.cart {
  font-size: 28px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: #1a1a1a;
}

.route_link {
  text-decoration: none;
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 3px solid rgba(255, 255, 255, 0.25);
  transition: all 0.175s;
  padding: 0.75rem;
  gap: 0.5rem;
}

.product:hover {
  outline-color: rgba(255, 255, 255, 1);
}

.product_name {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 20px;
}

.product_image {
  max-width: 75%;
  margin-bottom: 0.25rem;
}

.add_to_cart {
  background: white;
  color: black;
  padding: 0.25rem 0.75rem;
  font-size: 14px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem 15rem;
  margin: auto;
  margin-top: 7rem;
}

.quantity {
  display: flex;
  border: 1px solid white;
}

.quantity_input {
  text-align: center;
  max-width: 80px;
  font-size: 16px;
}

.change_quantity {
  min-width: 50px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
